# Day 2
### &nbsp;&nbsp;&nbsp;Subscripting
### &nbsp;&nbsp;&nbsp;Datatypes
### &nbsp;&nbsp;&nbsp;type()
### &nbsp;&nbsp;&nbsp;typecasting
### &nbsp;&nbsp;&nbsp;Mathematical operations
### &nbsp;&nbsp;&nbsp;Round()
### &nbsp;&nbsp;&nbsp;Formatted strings

### Subscripting means accessing elements of the string,lists (collections) etc using []

In [2]:
Message='Hello World'
print(Message)

Hello World

In [3]:
print(Message[0])

H

In [4]:
print(Message[4])

o

In [5]:
print(Message[-1])

d

In [6]:
print(Message[-3])

r

### 2 Indexes are associated with each element of a collection. One from left to right and another from right to left. We can use either to access the elements

String -  H    e  l  l  o     W  o  r  l  d
Index 1-  0    1  2  3  4  5  6  7  8  9  10
Index 2- -11 -10 -9 -8 -7 -6 -5 -4 -3 -2 -1

### Integer data type. Whole numbers

In [7]:
num_of_players=1243
print(num_of_players)

1243

#### Large numbers can be seperated with _ inplace of , we using in real world. So 145,562,909 can be written as 145_562_909. Python will ignore the _

In [8]:

balance=145_562_909
print(balance)

145562909

### Floating point number. Decimal numbers

price=129.99
print(price)

In [9]:
balance=145_562_909.999_49
print(balance)

145562909.99949

### Boolean. True or False. No "" or '' or it becomes a string

In [10]:
is_active=True
print(is_active)

True

In [11]:
is_active=False
print(is_active)

False

### type() function can be used to find the datatype of value or variable

In [14]:
print(type(98798.098))

<class 'float'>

In [16]:
value=98798
print(type(value))

<class 'int'>

In [17]:
name='Toronto'
print(type(name))

<class 'str'>

### Type casting is a process of converting a value or variable from one data type to another

In [18]:
value=987987
print(value)

987987

In [19]:
print(len(value))

TypeError: object of type 'int' has no len()

In [20]:
print(len(str(value)))

6

In [21]:
num1="123"
num2="567"
print(num1+num2)

123567

In [22]:
print(int(num1)+ int(num2))

690

In [23]:
fvalue='989.909'
print(fvalue)

989.909

In [24]:
print(type(fvalue))

<class 'str'>

In [26]:
print(type(float(fvalue)))

<class 'float'>

### Mathematical operations

In [27]:
print(2+1) ## Addition

3

In [28]:
print(3-2) #Subtraction

1

In [29]:
print(4*2) #Multiplication

8

In [30]:
print(4/2) #Division

2.0

In [31]:
print(4//2) #Division with integer as a result by flooring the result

2

In [32]:
print(5//2)

2

In [33]:
print(-5//2)

-3

In [34]:
print(5.5//2)

2.0

### Mathematical operations order - PEMDASLR Parenthesis, Exponentiation, multiplication or division (whichever is on the left), Addition or subtraction (left 1st)

### round()- Can be used to round off a floating point number

In [36]:
fvalue=989.898
print(round(fvalue))  #Rounds off to a whole number
print(round(fvalue,2)) # Rounds off to a floading with 2 digits afterm decimal

990
989.9

### Assign new value to a variable with mathemical operation
#### +=, -=, *=, /=

In [39]:
num1=4
num2=2
print(f'First number: {num1}')
print(f'Second number: {num2}')

First number: 4
Second number: 2

In [40]:
num1+=num2
print(f'First number: {num1}')

First number: 6

In [41]:
num1-=num2
print(f'First number: {num1}')

First number: 4

In [42]:
num1*=num2
print(f'First number: {num1}')

First number: 8

In [43]:
num1/=num2
print(f'First number: {num1}')

First number: 4.0

### Formatted Strings allows embedding expression directly in the string

In [44]:
ivalue=10
svalue='Ten'
fvalue=10.00

print(f"With formatted string i can print integer:{ivalue}, string:{svalue}, and float {fvalue} directly without type casting")

With formatted string i can print integer:10, string:Ten, and float 10.0 directly without type casting